<!DOCTYPE html>
<html lang="en" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Document</title>
</head>
<body>
{#    <img src="/static/images/Group3.png" class="background-gradient" alt="">#}
    <div class="container" >
        <div class="lang">
            <a  href="/language/kz">
            <img src="/static/images/kaz_lang.svg" alt="kaz lang">
            </a>
            <a  href="/language/ru">
            <img src="/static/images/ru_lang.svg" alt="ru lang">
            </a>
        </div>
        <div class="background">
            <div class="background-blue"></div>
            <div class="background-purple"></div>
            <div class="background-orange"></div>
            <div class="background-pink"></div>
        </div>
        <div class="form-content">

            <form  method="POST" >
                <div style="font-size: 36px">
                    <label for="request-number" class="request-number-label" >
                        {{ res_value('ORDER_NUM') }}
                    </label>
                    <br>
                    {% if session['language'] == 'ru' %}
                        <input maxlength="12" pattern="[0-9]{12}" type="text" class="request-number" name="order_num" id="request-number" placeholder="Указанный на расписке" />
                    {% endif %}
                    {% if session['language'] == 'kz' %}
                        <input maxlength="12" pattern="[0-9]{12}" type="text" class="request-number" name="order_num" id="request-number" placeholder="Қолхатта көрсетілген" />
                    {% endif %}
                </div>
                <br>
                <div>
                    <button class="button" type="submit">{{ res_value('ENTER') }}</button>
                </div>
                <br>
                <div>
                    {% if info %}
                        <h3>{{ info }}</h3>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</body>
</html>
