<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/static/styles/index.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <div class="el_center">
        <div class="text_center">
            <div>
                <a class="text_first">U</a><a class="text_next">tester</a>
            </div>
            <div>
                Тестирование на знание ПДД
            </div>
            <hr>
            <div>
                <a class="button_text" href="/greeting-1">
                    <button class="button">
                        Заказать услугу
                    </button>
                </a>
                <a class="button_text" href="/greeting-1">
                    <button class="button">
                        Перейти к услуге
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>