/venv/
*.pdf
*.pptx
__pycache__*
.idea*
/pdd.log
/static/photo/
static/pictures/
live-photo/
/plsql/*
*.log
/service/default.conf
/service/init_pdd_service
/service/pdd.service
/service/uwsgi-pdd.service
/static/tf/blazeface.js
/static/tf/group1-shard1of1.bin
/static/tf/index.html
/static/tf/model.json
/static/tf/tfjs.js
