<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/static/styles/index.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="background">
        <div class="background-blue"></div>
        <div class="background-purple"></div>
        <div class="background-orange"></div>
        <div class="background-pink"></div>
    </div>

    <div class="el_center">
            <form  method="POST" class="text_center">
                <div style="font-size: 28px;">
                    <label for="request-number" class="request-number-label" >
                        {{ res_value('ORDER_NUM') }}
                    </label>
                    <br>
                    {% if session['language'] == 'ru' %}
                        <input maxlength="12" pattern="[0-9]{12}" type="text" class="request-number" name="order_num" id="request-number" placeholder="Указанный на расписке" />
                    {% endif %}
                    {% if session['language'] == 'kz' %}
                        <input maxlength="12" pattern="[0-9]{12}" type="text" class="request-number" name="order_num" id="request-number" placeholder="Қолхатта көрсетілген" />
                    {% endif %}
                </div>
                <br>
                <div>
                    <button class="button" type="submit">{{ res_value('ENTER') }}</button>
                </div>
                <br>
                <br>
                <div>
                    {% if info %}
                        <h1 class="info">{{ info }}</h1>
                    {% endif %}
                </div>
            </form>
    </div>
</body>
</html>